* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
html {
	min-width:985px;
}
body { 
	background:url(../images/main-bg.jpg) no-repeat 80% #fff fixed;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.3125em;
	color:#4a4a4a;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}
object { 
	vertical-align:top; 
	outline:none;
}
ul, ol { 
	list-style:none;
}

.fleft { 
	float:left;
}
.fright { 
	float:right;
}
.clear { 
	clear:both;
}

.col-1, .col-2, .col-3 { 
	float:left;
}

.alignright { 
	text-align:right;
}
.aligncenter { 
	text-align:center;
}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.container { 
	width:100%;
}

#main {
	width:985px; 
	margin:0 auto;
	font-size:.8125em;
	position:relative;
	overflow:hidden;

}

#header {
	height:563px;
	overflow:hidden;
	background:url(../images/header-bg.png) no-repeat 0 348px;
}
	#content .aside {
		float:left;
		width:303px;
		margin-right:7px;
	}
	#content .mainContent {
		float:left;
		width:674px;
	}
#footer {
	width:674px;
	margin:0 0 0 210px;
	text-align:center;
	padding:100px 0 80px 0; 
}
               

           
    

/*----- txt, links, lines, titles -----*/
a {
	color:#47ccff; 
	outline:none;
}
a:hover{
	text-decoration:none;
}



   
#header .row-1 {
	position:relative;
}
	#header .logo {
		position:absolute;
		left:12px;
		top:36px;
		z-index:2;
	}
	#header .nav {
		position:absolute;
		left:430px;
		top:25px;
	}
		#header .nav li {
			font-size:125px;
			line-height:1em;
			margin-bottom:-25px;
		}
		#header .nav li.alt {
			padding-left:53px;
		}
		#header .nav li.last {
			color:#000;
			margin-bottom:0; 
			text-decoration:none;
		}                   
		
		#header .nav li.last a:hover {
			text-decoration:underline;
		}
		
		
		#header .nav li.last a {
			color:#000;           
			text-decoration:none;
		}
			#header .nav li {
				color:#fff;
				text-decoration:none;
			}

	
	#header .intro {
		font-size:42px;
		line-height:42px;
		color:#fff;
		position:absolute;
		right:10px;
		top:393px;
		text-align:right;
		width:870px;
	}
		#header .intro a {
			color:#000;
			text-decoration:none;
		}
		#header .intro a:hover {
			text-decoration:underline;
		}

         

/*===== footer =====*/
#footer {
	font-size:12px;
	color:#fff;
	text-transform:uppercase;
}
	#footer a {
		color:#fff;
		text-decoration:none;
	}
	#footer a:hover {
		text-decoration:underline;
	}



